<div id="<%= dom_id style %>">
  <p>
    <strong>Opacity:</strong>
    <%= style.opacity %>
  </p>

  <p>
    <strong>Fill:</strong>
    <%= style.fill_id %>
  </p>

  <p>
    <strong>Stroke:</strong>
    <%= style.stroke_id %>
  </p>

</div>
